*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{

    padding-top: 190px;


    font-family: 'Poppins', sans-serif;

    background-color: #1f2937;
    
    background-image: url('./images/fundocabana.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

header{
    background:#1f2937;
    color:white;
    padding:15px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    position:fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

.logo{
    width: 60px;
    height: 60px;
    object-fit: cover;
    border-radius: 50%;
}

.banner{

    margin:15px;

    padding:30px 15px;

    border-radius:20px;

    background:
        linear-gradient(
            135deg,
            #ff8800,
            #ff5e00
        );

    color:white;

    text-align:center;

    box-shadow:
        0 8px 20px rgba(255,136,0,.3);
}

.cards{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(180px,1fr));
    gap:15px;
    padding:20px;
}

.card{
    position: relative;

    display: flex;
    flex-direction: column;

    background: white;
    border-radius: 12px;
    overflow: hidden;
}



.card img{
    width:100%;
    height:180px;
    object-fit:cover;
}

.card h3{
    padding:10px;
}

.card p{
    padding:0 10px 10px;
    color:green;
    font-weight:bold;
}

.card button{
    padding: 12px;
    width: 100%;
    margin-top: auto;
    background:#16a34a;
    color:white;
    cursor:pointer;
    border:none;
}

.card button:hover{
    opacity:.9;
}

.cart{
    background:white;
    margin:20px;
    padding:20px;
    border-radius:12px;
}

.cart h2{
    margin-bottom:15px;
}

#cart-items{
    list-style:none;
    margin-bottom:15px;
}

#cart-items li{
    padding:5px 0;
}

.whatsapp-btn{
    width:100%;
    padding:15px;
    background:#25d366;
    border:none;
    color:white;
    font-size:16px;
    border-radius:8px;
    cursor:pointer;
}

@media(max-width:600px){

    .cards{
        grid-template-columns:repeat(2,1fr);
    }

    .card img{
        height:140px;
    }

}







.modal{
    display:none;
    position:fixed;
    inset:0;
    background:rgba(0,0,0,.6);
    justify-content:center;
    align-items:center;
    z-index:999;
}

.modal-content{
    width:90%;
    max-width:350px;
    background:white;
    padding:20px;
    border-radius:15px;
}

.close{
    float:right;
    font-size:28px;
    cursor:pointer;
}

.option-group{
    margin:20px 0;
}

.option-group label{
    display:block;
    margin-bottom:8px;
    font-weight:bold;
}

.option-group select{
    width:100%;
    padding:10px;
}

.quantity-box{
    display:flex;
    justify-content:center;
    align-items:center;
    gap:15px;
}

.quantity-box button{
    width:40px;
    height:40px;
    border:none;
    border-radius:50%;
    font-size:20px;
    cursor:pointer;
}

.quantity-box span{
    font-size:22px;
    font-weight:bold;
}

.add-btn{
    width:100%;
    padding:12px;
    border:none;
    border-radius:8px;
    background:#16a34a;
    color:white;
    font-size:16px;
    cursor:pointer;
}

.price-preview{
    text-align:center;
    margin:20px 0;
    font-size:18px;
}

.price-preview strong{
    display:block;
    margin-top:5px;
    font-size:28px;
    color:#16a34a;
}


#deliveryAddress{
    width:100%;
    padding:10px;
    border:1px solid #ccc;
    border-radius:8px;
}

.clear-cart-btn{
    width:100%;

    padding:12px;

    margin-bottom:10px;

    border:none;

    border-radius:8px;

    background:#dc2626;

    color:white;

    font-weight:bold;

    cursor:pointer;
}

.badge{

    animation:pulse 2s infinite;

    position:absolute;

    top:10px;
    left:10px;

    background:#ff3b30;

    color:white;

    padding:6px 12px;

    border-radius:20px;

    font-size:12px;

    font-weight:bold;

    z-index:10;

    box-shadow:
        0 3px 8px rgba(0,0,0,.2);
}

@keyframes pulse{

    0%{
        transform:scale(1);
    }

    50%{
        transform:scale(1.05);
    }

    100%{
        transform:scale(1);
    }

}