<<<<<<< HEAD
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #fff;
    color: #111;
}

header{
    background: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    position: sticky;
    top: 0;

    z-index: 1000;
}

.logo{
    color: #ff9f43;
    font-size: 28px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero{
    height: 90vh;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1514933651103-005eec06c04b?q=80&w=1400');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
}

.hero-text h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button{
    padding: 15px 35px;

    border: none;

    background: #ff9f43;

    color: white;

    border-radius: 10px;

    cursor: pointer;

    font-size: 18px;
}

.produtos{
    padding: 80px 8%;
}

.produtos h2{
    text-align: center;

    font-size: 40px;

    margin-bottom: 40px;

    color: #ff7b00;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}

.card{
    background: white;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    text-align: center;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3{
    margin: 15px 0 10px;
}

.card p{
    padding: 0 15px;
    margin-bottom: 15px;
}

.card span{
    display: block;
    margin-bottom: 15px;

    color: #ff7b00;

    font-size: 22px;
    font-weight: bold;
}

.card button{
    margin-bottom: 20px;

    padding: 12px 25px;

    border: none;

    background: #ff9f43;

    color: white;

    border-radius: 8px;

    cursor: pointer;
}

.carrinho{
    padding: 70px 8%;

    background: #f5f5f5;

    text-align: center;
}

#lista-carrinho{
    list-style: none;
    margin-top: 20px;
}

#lista-carrinho li{
    background: white;

    margin: 10px auto;

    max-width: 400px;

    padding: 15px;

    border-radius: 10px;
}

#total{
    margin-top: 20px;
}

.sobre{
    background: #111;

    color: white;

    padding: 70px 8%;

    text-align: center;
}

.sobre h2{
    color: #ff9f43;

    margin-bottom: 20px;
}

footer{
    background: #ff9f43;

    color: white;

    text-align: center;

    padding: 30px;
}

.modal{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.7);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-content{
    background: white;

    width: 90%;
    max-width: 400px;

    padding: 30px;

    border-radius: 20px;

    position: relative;
}

.modal-content h2{
    color: #ff7b00;
    margin-bottom: 20px;
}

.modal-content label{
    display: block;

    margin-top: 15px;
    margin-bottom: 5px;

    color: black;
}

.modal-content select,
.modal-content input{
    width: 100%;

    padding: 12px;

    border-radius: 10px;

    border: 1px solid #ccc;

    color: black;
}

.modal-content button{
    width: 100%;

    margin-top: 20px;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: #ff9f43;

    color: white;

    cursor: pointer;
}

.fechar{
    position: absolute;

    right: 20px;
    top: 10px;

    font-size: 30px;

    cursor: pointer;

    color: black;
}

.finalizar{

    margin-top: 25px;

    padding: 15px 30px;

    border: none;

    background: #25D366;

    color: white;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
}

.finalizar:hover{

    transform: scale(1.05);

    background: #1ebe5d;
}.finalizar{

    margin-top: 25px;

    padding: 15px 30px;

    border: none;

    background: #25D366;

    color: white;

    font-size: 18px;

    border-radius: 10px;

    cursor: pointer;

    transition: 0.3s;
}

.finalizar:hover{

    transform: scale(1.05);

    background: #1ebe5d;
}

.entrega-box{

    margin-top: 25px;
}

.entrega-box label{

    display: block;

    margin-bottom: 10px;

    font-size: 18px;
}

.entrega-box select,
.entrega-box input{

    width: 100%;

    max-width: 400px;

    padding: 12px;

    border-radius: 10px;

    border: 1px solid #ccc;

    margin: 10px auto;

    display: block;

    font-size: 16px;
}

#endereco{

    display: none;
=======
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background: #fff;
    color: #111;
}

header{
    background: #111;

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 20px 8%;

    position: sticky;
    top: 0;

    z-index: 1000;
}

.logo{
    color: #ff9f43;
    font-size: 28px;
    font-weight: bold;
}

nav a{
    color: white;
    text-decoration: none;
    margin-left: 20px;
}

.hero{
    height: 90vh;

    background:
    linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)),
    url('https://images.unsplash.com/photo-1514933651103-005eec06c04b?q=80&w=1400');

    background-size: cover;
    background-position: center;

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;

    color: white;
}

.hero-text h1{
    font-size: 55px;
    margin-bottom: 20px;
}

.hero-text p{
    font-size: 20px;
    margin-bottom: 20px;
}

.hero button{
    padding: 15px 35px;

    border: none;

    background: #ff9f43;

    color: white;

    border-radius: 10px;

    cursor: pointer;

    font-size: 18px;
}

.produtos{
    padding: 80px 8%;
}

.produtos h2{
    text-align: center;

    font-size: 40px;

    margin-bottom: 40px;

    color: #ff7b00;
}

.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    gap: 30px;
}

.card{
    background: white;

    border-radius: 15px;

    overflow: hidden;

    box-shadow: 0 4px 15px rgba(0,0,0,0.1);

    text-align: center;
}

.card img{
    width: 100%;
    height: 220px;
    object-fit: cover;
}

.card h3{
    margin: 15px 0 10px;
}

.card p{
    padding: 0 15px;
    margin-bottom: 15px;
}

.card span{
    display: block;
    margin-bottom: 15px;

    color: #ff7b00;

    font-size: 22px;
    font-weight: bold;
}

.card button{
    margin-bottom: 20px;

    padding: 12px 25px;

    border: none;

    background: #ff9f43;

    color: white;

    border-radius: 8px;

    cursor: pointer;
}

.carrinho{
    padding: 70px 8%;

    background: #f5f5f5;

    text-align: center;
}

#lista-carrinho{
    list-style: none;
    margin-top: 20px;
}

#lista-carrinho li{
    background: white;

    margin: 10px auto;

    max-width: 400px;

    padding: 15px;

    border-radius: 10px;
}

#total{
    margin-top: 20px;
}

.sobre{
    background: #111;

    color: white;

    padding: 70px 8%;

    text-align: center;
}

.sobre h2{
    color: #ff9f43;

    margin-bottom: 20px;
}

footer{
    background: #ff9f43;

    color: white;

    text-align: center;

    padding: 30px;
}

.modal{
    position: fixed;

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    background: rgba(0,0,0,0.7);

    display: none;

    justify-content: center;
    align-items: center;

    z-index: 999;
}

.modal-content{
    background: white;

    width: 90%;
    max-width: 400px;

    padding: 30px;

    border-radius: 20px;

    position: relative;
}

.modal-content h2{
    color: #ff7b00;
    margin-bottom: 20px;
}

.modal-content label{
    display: block;

    margin-top: 15px;
    margin-bottom: 5px;

    color: black;
}

.modal-content select,
.modal-content input{
    width: 100%;

    padding: 12px;

    border-radius: 10px;

    border: 1px solid #ccc;

    color: black;
}

.modal-content button{
    width: 100%;

    margin-top: 20px;

    padding: 14px;

    border: none;

    border-radius: 10px;

    background: #ff9f43;

    color: white;

    cursor: pointer;
}

.fechar{
    position: absolute;

    right: 20px;
    top: 10px;

    font-size: 30px;

    cursor: pointer;

    color: black;
>>>>>>> b743887ec533a425166bcd1b91c2eca94483c2d1
}